name: lottogenerator_v4
description: Lotto Generator App (6aus49 & Eurojackpot) mit Animationen & Sound
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  # Sound Player
  audioplayers: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/sounds/spin.wav
    - assets/sounds/slow.wav
    - assets/sounds/eat.wav
    - assets/sounds/exit.wav
